doctype html
html
  header
    title Knowledgebase Website
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css')
  body
    .container
      h1 Welcome to nodekb!
      block content
      br
      hr
      footer 
        p Copyright &copy; 2017
